<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>

  <body>
        <div class="box" style="width: 25rem; text-align:center; margin:15% auto; padding: 2rem;">
            <h3>You have been successfully logged out.</h3>
            <a style="color:white;" href="{% url 'login'%}">Click to Login</a>
        </div>
  </body>

</html>
