<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="../../static/css/main.css" rel="stylesheet">
        <title>Ditto {% block title %}{% endblock %}</title>
        <style>
        </style>
    </head>

    <body>
        <div style="text-align: center;">
            <img src="/static/imgs/logo.png" class="Logo">
			<div style="margin: 10px auto; width: 188px; position:relative;">
				<div style="display: flex;">
						<h4 style="margin:0.8rem; text-align: left;">서울특별시</h4>
					<img src="/static/imgs/icon.png" width="45" height="45" style="cursor:pointer; position:absolute; right:0;">
				</div>
			</div>
			<div style="margin: 10px auto; width: 188px; position:relative;">
				<div style="display: flex;">
						<h4 style="margin:0.8rem; text-align: left;">경기도</h4>
					<img src="/static/imgs/icon.png" width="45" height="45" style="cursor:pointer; position:absolute; right:0;">
				</div>
			</div>
        </div> 
    </body>
</html> 
