<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ditto {% block title %}{% endblock %}</title>
        <style>
        </style>
    </head>

    <body style="background:#18181F;">
   <div style="width:1300px; background:#242531; margin:2rem auto;">
      <div style="display: flex; flex-direction: row; gap:38%;">
         <div style="color:white; padding:0.4rem; margin:0 auto; font-size:1.25rem">
            국민대학교
         </div>
         
      </div>
      <div style="width: 100%; height: 3px; background:#18181F;"></div>

      <div>
         <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
         <div style="text-align:center;"><video autoplay muted id="video" style="height: 50vh;"></video></div>
         <script>
            if(Hls.isSupported()) {
               var video = document.getElementById('video');
               var hls = new Hls();
               hls.loadSource("https://540f41fc71d9.ap-northeast-2.playback.live-video.net/api/video/v1/ap-northeast-2.392988993234.channel.eknAgsglpDNs.m3u8"); // 동영상경로
               hls.attachMedia(video);
               hls.on(Hls.Events.MANIFEST_PARSED,function() {
                     video.play();
               });
            }
            // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
            // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
            // This is using the built-in support of the plain video element, without using hls.js.
            else if (video.canPlayType('application/vnd.apple.mpegurl')) {
               video.src = "https://540f41fc71d9.ap-northeast-2.playback.live-video.net/api/video/v1/ap-northeast-2.392988993234.channel.eknAgsglpDNs.m3u8"; // 동영상경로
               video.addEventListener('canplay',function() {
                     video.play();
               });
            }
         </script>
      </div>

      <div style="width: 100%; height: 3px; background:#18181F;"></div>
      
      <div style="display: flex; flex-direction: row; gap:56%;">
         <div style="display: flex; flex-direction: row; padding-left: 7px;">
            <div style="color:white; margin-bottom:0.4rem;">
               Map
            </div>
            <img src="/static/imgs/map.png" width="24" height="22">
         </div>
            
         <div style="display: flex; flex-direction: row;">
            <div style="color:white; margin-bottom:0.4rem;">
               Alert
            </div>
            <img src="/static/imgs/alert.png" width="24" height="22">
         </div>
      </div>
         

      <div style="width: 100%; height: 3px; background:#18181F;"></div>
      
      <div style="display: flex; flex-direction: row; gap:1%; ">
         <div id="map" style="width: 60%; height: 44vh; margin-top:0.5rem;"></div>
         <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e00ee7b35d9447fc1b074a96fd8ee6d0"></script>
         <script>
         var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
               center: new kakao.maps.LatLng({{coordinate.0}}, {{coordinate.1}}), // 지도의 중심좌표
               level: 3 // 지도의 확대 레벨
            };

         // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
         var map = new kakao.maps.Map(mapContainer, mapOption); 

         var circle = new kakao.maps.Circle({
            center : new kakao.maps.LatLng(37.61090035882, 126.997259182),  // 원의 중심좌표 입니다 
            radius: 3, // 미터 단위의 원의 반지름입니다 
            strokeOpacity: 0, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            fillColor: '#ff001691', // 채우기 색깔입니다
            fillOpacity: 0.7  // 채우기 불투명도 입니다   
           }); 
         circle.setMap(map);
   
         var circle = new kakao.maps.Circle({
            center : new kakao.maps.LatLng(37.61092005882, 126.997259182),  // 원의 중심좌표 입니다 
            radius: 3, // 미터 단위의 원의 반지름입니다 
            strokeOpacity: 0, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            fillColor: '#ff001691', // 채우기 색깔입니다
            fillOpacity: 0.7  // 채우기 불투명도 입니다   
           }); 
         circle.setMap(map);
   
         var circle = new kakao.maps.Circle({
            center : new kakao.maps.LatLng(37.61092005882, 126.997209182),  // 원의 중심좌표 입니다 
            radius: 3, // 미터 단위의 원의 반지름입니다 
            strokeOpacity: 0, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            fillColor: '#ff001691', // 채우기 색깔입니다
            fillOpacity: 0.7  // 채우기 불투명도 입니다   
           }); 
         circle.setMap(map);
         map.setZoomable(false);
         map.setDraggable(false);   
         </script>

         <div style="width: 3px; height: 45vh; background:#18181F; "></div>

         <div style="width: 38%; height: 33vh; padding:0.5rem;">

            <div style="display: flex; flex-direction: row; padding:4px;">
               <div style="margin: 8px; color:white;">09:48:56 쓰러짐 발생</div>
               <a href="{% url 'control_detail' %}">
                  <button type="button" class="btn btn-light btn-sm" style="background-color: #8FECC0; color: 18181F; height: 2rem; cursor:pointer; border: none; border-radius: 2px; margin-top: 4px;">영상 확인</button>
               </a>
            </div>
            <div style="display: flex; flex-direction: row; padding:4px">
               <div style="margin: 8px; color:white;">11:40:56 쓰러짐 발생</div>
               <a href="{% url 'control_detail' %}">
                  <button type="button" class="btn btn-light btn-sm" style="background-color: #8FECC0; color: 18181F; height: 2rem; cursor:pointer; border: none; border-radius: 2px; margin-top: 4px;">영상 확인</button>
               </a>
            </div>
            <div style="display: flex; flex-direction: row; padding:4px;">
               <div style="margin: 8px; color:white;">12:30:56 쓰러짐 발생</div>
               <a href="{% url 'control_detail' %}">
                  <button type="button" class="btn btn-light btn-sm" style="background-color: #8FECC0; color: 18181F; height: 2rem; cursor:pointer; border: none; border-radius: 2px; margin-top: 4px;">영상 확인</button>
               </a>
            </div>
         </div>


      </div>
   </div>
</body>
</html>