<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="../../static/css/admin.css" rel="stylesheet">
        <title>Ditto {% block title %}{% endblock %}</title>
        <style>
        </style>
    </head>

    <body style="background:#18181F;">
			<img src="/static/imgs/logo.png" class="Logo">
        <div style="text-align: center; width: 265px; background:#242531; padding: 1rem 0.3rem; border-radius:1rem; margin:8px auto;">
            
			{% for event in events %}
			<div class="PlaceContainer">
				<a href="{% url 'control' event.id %}" style="text-decoration-line: none;">
				<div style="display: flex; gap: 38%;">
					<div>
						<h4 class="Label1">{{event.event_name}}</h4>
						<h5 class="Label2">{{event.location}}</h5>
					</div> 
					<img src="/static/imgs/map.png" class="Icon">
				</div>
				</a>
			</div>  
			<div style="width: 218px; height: 2px; background:#353749; margin:0 auto;"></div>
			{% endfor %}  
        </div> 
    </body>
</html> 