{% extends 'base.html' %}
{% block title %}Administer{% endblock %}

{% block content %}
      <div id="map" style="width: 100%; height: 100vh; margin:2rem auto;"></div>
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e00ee7b35d9447fc1b074a96fd8ee6d0"></script>
      <script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = { 
				center: new kakao.maps.LatLng(37.61090035882, 126.997259182), // 지도의 중심좌표
				level: 2 // 지도의 확대 레벨
			};

		// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);
		
		map.setZoomable(false);
		map.setDraggable(false);    
      </script>

{% endblock %}