<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DITTO Administer</title>

    <link rel="stylesheet" href="../../static/css/style.css" />

  </head>

  <body style="width:1300px; margin:5% auto;">
	<div style="width:1200px; margin:0 auto;">
		<video style="width:100%;" src="https://ivs-ditto.s3.ap-northeast-2.amazonaws.com/ivs/v1/392988993234/eknAgsglpDNs/2023/5/20/KakaoTalk_Video_2023-05-23-21-59-00.mp4"></video>

    <div>
  </body>
</html>
