
body {
	background: #343E59;
	font-family: 'Wix Madefor Text', sans-serif !important;
 }

a { 
	text-decoration:none !important;
	color: #a1a1a1; 
	margin: 5px;
	font-size:0.95rem;
}
  
  
.box {
	width: 16rem; 
	margin: 5rem auto;
    background:#2B2D3E; 
	padding: 0.5rem 1.05rem; 
	border-radius: 1.2rem; 
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

.PlaceContainer { 
	margin: 10px auto;
	width: 15rem; 
	position:relative;
	/* background-color: aliceblue; */
}

.Label1 { 
	margin: 5px; 
	text-align: left;
	color: #ffffff;
	font-size: 1rem;
}

.Icon{
	width: 28px;
	height: 28px;
	position:absolute; 
	top: 0.8rem;
	right:0; 
	cursor: pointer;
}

.line{
	width: 15rem; 
	height: 2px; 
	background:#353749; 
	margin:0 auto;
}


  